<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistServlet</servlet-name>
        <servlet-class>ArtistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerServlet</servlet-name>
        <servlet-class>OwnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaintingServlet</servlet-name>
        <servlet-class>PaintingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rentServlet</servlet-name>
        <servlet-class>rentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retieveServlet</servlet-name>
        <servlet-class>retieveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentalServlet</servlet-name>
        <servlet-class>RentalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistReportServlet</servlet-name>
        <servlet-class>ArtistReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerReturnServlet</servlet-name>
        <servlet-class>OwnerReturnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnOwnerServlet</servlet-name>
        <servlet-class>ReturnOwnerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resubmitServlet</servlet-name>
        <servlet-class>resubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notRentedServlet</servlet-name>
        <servlet-class>notRentedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistServlet</servlet-name>
        <url-pattern>/ArtistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerServlet</servlet-name>
        <url-pattern>/OwnerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaintingServlet</servlet-name>
        <url-pattern>/PaintingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rentServlet</servlet-name>
        <url-pattern>/rentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retieveServlet</servlet-name>
        <url-pattern>/retieveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentalServlet</servlet-name>
        <url-pattern>/RentalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistReportServlet</servlet-name>
        <url-pattern>/ArtistReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerReturnServlet</servlet-name>
        <url-pattern>/OwnerReturnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnOwnerServlet</servlet-name>
        <url-pattern>/ReturnOwnerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resubmitServlet</servlet-name>
        <url-pattern>/resubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notRentedServlet</servlet-name>
        <url-pattern>/notRentedServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
